<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if not title %}
        <title>Welcome to Microblog!</title>
    {% else %}
        <title>{{ title }} - Microblog!</title>
    {%  endif %}
</head>
<body>
    <div><a href="{{url_for("index")}}">Microblog Home</a></div>
    {%  if current_user.is_anonymous %}
        <div><a href="{{ url_for("login") }}">Sign In</a></div>
    {%  else %}
        <div><a href="{{ url_for("logout") }}">Sign Out</a></div>
    {%  endif %}
    <hr>

    {% with messages = get_flashed_messages() %}
        {%  if messages %}
            <ul>
                {%  for message in messages %}
                <li>{{ message }}</li>
                {%  endfor %}
            </ul>
        {%  endif %}
    {%  endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>