{% extends "base.jinja2" %}
{% block content %}

    <h1>Hello, {{ current_user.username }}</h1>
    {%  if not posts %}
        <p>There are no posts. Why don't you add one?</p>
    {%  else %}
        {%  for post in posts %}
            <div>
                <p>{{ post.author.username }} says <b>{{ post.body }}</b></p>
            </div>
        {%  endfor %}
    {%  endif %}
{%  endblock %}